# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
[Dd]ebugPublic/
x64/
x86/
build/
bld/
out/

# .NET
project.lock.json
project.fragment.lock.json
artifacts/

# NuGet
*.nupkg
*.snupkg
.nuget/
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets

# Test results
[Tt]est[Rr]esult*/
*.trx
*.coverage
*.coveragexml
coverage*.json
coverage*.xml
TestResults/

# Visual Studio / Rider / VS Code
.vs/
.vscode/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

# Rider
*.sln.iml

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
